*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 20px 50px;
    font-family: Arial;
}

.img{
    width: 100%;
    height: 100%;
}

.general-block{
    max-width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img-box .itachi__image{
    width: 100%;
    height: 100%;
    position: relative;
}

.hp-block,
.general-block .chakra{
    padding-top: 20px;
}

h3{
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.chakra{
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.chakra span{
    font-size: 25px;
    color: green;
}

.chakra .demage,
.chakra .demage-itachi,
.chakra .demage-jiraya{
    font-size: 15px;
    color: red;
    margin-left: 5px;
}

button{
    font-size: 30px;
    background: green;
    padding: 10px 20px;
    font-weight: 900;
    color: white;
    border: white 2px solid;
    border-radius: 15px;
    opacity: 0.6;
}

.btn{
    display: inline-block;
}

.reset{
    background: yellow;
    color: #333;
    display: none;
}

button:hover{
    opacity: 1;
}

button:focus{
    outline: none;
}